.aboutH{
    color: white;
    text-align: center;
    font-family: kanit;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about p{
    width: 600px;
}